[include mainsail.cfg]
[include timelapse.cfg]

[exclude_object]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_36FFDD05334D413212710451-if00
restart_method: command     

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_56FF71067166555615290387-if00
restart_method: command      

[adxl345]
cs_pin:extra_mcu:PB12
axes_map: x,z,y 

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30  # an example175 Y175 Z30
accel_per_hz:50
min_freq:20
max_freq:40
max_smoothing:0.2
hz_per_sec:0.5

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 110

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[pause_resume]

[printer]
kinematics: corexy           
max_velocity: 700            
max_accel: 40000             
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0 

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001
#shaper_type_x = mzv
#shaper_freq_x = 35
#shaper_type_y = mzv
#shaper_freq_y = 35

[quad_gantry_level]          
gantry_corners:              
	-60,-10
	410,420
points:
	36,10
	36,320
	346,320
	346,10
speed: 400                   
horizontal_move_z: 10       
retry_tolerance: 0.05      
retries: 5                  
max_adjust: 30   

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg