[save_variables]
filename = ~/demon_vars.cfg

[include ./Demon_Klipper_Essentials_Unified/*.cfg]
[include ./Demon_User_Files/*.cfg]
[include ./Demon_Klipper_Essentials_Unified/Other_Files/Demon_User_Files_Updater/Extract_Demon_User_Files_Biqu.cfg]
[include ./KAMP_LiTE/*.cfg]
[include Heat_Soak_Sovol_SV08.cfg]
[include RGB_LEDs.cfg]
[include mainsail.cfg]
[include timelapse.cfg]
[include macros.cfg]
[include beep.cfg]

[exclude_object]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_36FFDD05334D413212710451-if00
restart_method: command     

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_56FF71067166555615290387-if00
restart_method: command      

[adxl345]
cs_pin:extra_mcu:PB12
axes_map: x,z,y 

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30  # an example175 Y175 Z30
accel_per_hz:50
min_freq:20
max_freq:40
max_smoothing:0.2
hz_per_sec:0.5

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[pause_resume]

[printer]
kinematics: corexy           
max_velocity: 700            
max_accel: 8200             
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0 

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001
#shaper_type_x = mzv
#shaper_freq_x = 35
#shaper_type_y = mzv
#shaper_freq_y = 35

[quad_gantry_level]          
gantry_corners:              
	-60,-10
	410,420
points:
	36,10
	36,320
	346,320
	346,10
speed: 350                   
horizontal_move_z: 5      
retry_tolerance: 0.01      
retries: 5                  
max_adjust: 10   

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355         
position_max: 355             
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: True             
run_current: 1.5              
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
#driver_sgthrs: 65
diag_pin: PE15

[autotune_tmc stepper_x]
motor: shengyang-42bygh2904-a-24nq1
tuning_goal: performance
sg4_thrs: 65

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 364         
position_max: 364            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: True             
run_current: 1.5                          
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 65
diag_pin: PE13 

[autotune_tmc stepper_y]
motor: shengyang-42bygh2904-a-24nq1
tuning_goal: performance
sg4_thrs: 65

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: true             
run_current: 0.58           
hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[autotune_tmc stepper_z]
motor: shengyang-42bygh1603-a-20dnt
tuning_goal: performance

[stepper_z1] ##motherboard：Z2
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: true             
run_current:  0.58          
hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[autotune_tmc stepper_z1]
motor: shengyang-42bygh1603-a-20dnt
tuning_goal: performance

[stepper_z2] ##motherboard：Z1
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: true             
run_current: 0.58            
hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[autotune_tmc stepper_z2]
motor: shengyang-42bygh1603-a-20dnt
tuning_goal: performance

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: true            
run_current: 0.58         
hold_current: 0.58           
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 999999 

[autotune_tmc stepper_z3]
motor: shengyang-42bygh1603-a-20dnt
tuning_goal: performance

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[extruder]
step_pin: extra_mcu:PA8   
dir_pin: extra_mcu:PB8    
enable_pin:!extra_mcu: PB11   
rotation_distance: 6.5 
microsteps: 16                
full_steps_per_rotation: 200 
nozzle_diameter: 0.400        
filament_diameter: 1.75  
max_extrude_only_distance: 150   
max_extrude_only_velocity: 15
max_extrude_cross_section: 5
heater_pin:extra_mcu:PB9  
sensor_type:my_thermistor_e  
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5  
min_temp: 5                  
max_temp: 305                 
max_power: 1.0                
min_extrude_temp: 150         
#control : pid
#pid_kp : 33.838
#pid_ki : 5.223
#pid_kd : 47.752
pressure_advance: 0.025       
pressure_advance_smooth_time: 0.035   

[tmc2209 extruder]
uart_pin: extra_mcu:PB10  
interpolate: True             
run_current: 0.8           
hold_current: 0.8             
uart_address:3
sense_resistor: 0.150      

[autotune_tmc extruder]
motor: shengyang-36byg1510-1m-6qt

[verify_heater extruder]      
max_error: 120                
check_gain_time:30           
hysteresis: 5                
heating_gain: 2               

[filament_switch_sensor switch_sensor]
pause_on_runout: False
runout_gcode: _warning_beep
switch_pin: ^PE9
insert_gcode:
    { action_respond_info("Insert Detected") }  
runout_gcode:
    { action_respond_info("Runout Detected") }
    {% if printer.print_stats.state == "printing" %}
      _FIL_CHANGE_PARK
    {% endif %}

[filament_motion_sensor encoder_sensor]
pause_on_runout: False
switch_pin: ^PE12
detection_length: 7
extruder: extruder
insert_gcode:
    { action_respond_info("Filament Encoder is Running") }
runout_gcode:
    { action_respond_info("Filament Encoder Stall Detected") }
    {% if printer.print_stats.state == "printing" %}
      _FIL_CHANGE_PARK
    {% endif %}

[delayed_gcode encoder_sensor]
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 105                
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 

[multi_pin print_cooling_fan_pins]
pins: extra_mcu:PA7, extra_mcu:PB1

# print/part cooling fan
[fan]
pin: multi_pin:print_cooling_fan_pins
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.5
off_below: 0.10

[fan_generic exhaust_fan] # exhaust fan
pin: PA2
max_power: 1.0

[temperature_fan MCU_fan]
pin: PA1
kick_start_time: 0.5
max_power: 1.0
min_temp: 0
max_temp: 90
hardware_pwm: true
target_temp: 60
sensor_type: temperature_host
max_speed: 1.0
min_speed: 0.23
off_below: 0.25
control: pid
pid_Kp: 2.0     ;40
pid_Ki: 5.0     ;0.2
pid_Kd: 0.5     ;0.1
pid_deriv_time: 2.0

[controller_fan extra_controller_fan]
pin: extra_mcu:PB0  
fan_speed: 0.5
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver is active.
#   The default is 1.0
idle_timeout: 60
#   The amount of time (in seconds) after a stepper driver or heater
#   was active and the fan should be kept running. The default
#   is 30 seconds.
idle_speed: 0.3
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver was active and
#   before the idle_timeout is reached. The default is fan_speed.
heater: extruder

[heater_fan hotend_fan]      
pin: extra_mcu:PA6   
max_power: 1.0               
kick_start_time: 0.5         
heater: extruder             
heater_temp: 45              
tachometer_pin:extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PA8,   EXP1_2=PC9,
    EXP1_3=PA10,  EXP1_4=PA9,
    EXP1_5=PC11,  EXP1_6=PC10,
    EXP1_7=PD8,   EXP1_8=PC12,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PB14,  EXP2_2=PB13,
    EXP2_3=PC7,   EXP2_4=PB12,
    EXP2_5=PC6,   EXP2_6=PB15,
    EXP2_7=PC8,   EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

[display]                    
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[output_pin beeper]
pin: EXP1_1
pwm: False
value: 0

[neopixel Screen_Colour]     
pin: EXP1_6
chain_count: 3
color_order: RGB             
initial_RED: 0.5             
initial_GREEN: 0.4           
initial_BLUE: 0.7           

[neopixel sb_leds]
pin: extra_mcu:PA10
chain_count: 1
color_order: GRBW
initial_RED: 0.3
initial_GREEN: 0.3
initial_BLUE: 0.3
initial_white: 0.3

[gcode_arcs]                       
resolution: 1.0                    

[led Printer_Lights]
white_pin: PA3
cycle_time: 0.0010
initial_WHITE: 1.0

[idle_timeout]
gcode: _DEMON_IDLE_TIMEOUT
timeout: 3600

# The MCU section only applies to the Eddy USB. For Eddy Coil you will use the MCU name of the toolboard that you connected the Eddy Coil to.
[mcu eddy]
serial: /dev/serial/by-id/usb-Klipper_rp2040_50445059302D5B1C-if00 # This is the serial address of your eddy probe. This can be found by using the terminal of your klipper instance (typically through SSH) and using the command ```ls /dev/serial/by-id``` 
restart_method: command

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu # Sets the type of sensor for Klipper to read
sensor_mcu: eddy # Sets the MCU of the eddy probe tempereature sensor
min_temp: 10 # Sets the minimum tempereature for eddys tempereature sensor to operate
max_temp: 100 # Sets the maximum tempereature for eddys tempereature sensor to operate

[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
i2c_mcu: eddy
i2c_bus: i2c0f
# Measure the offsets below using the method described here: https://www.klipper3d.org/Probe_Calibrate.html#calibrating-probe-x-and-y-offsets
# For a standard Voron stealthburner X carriage mount there should be no need to change the defaults below.
x_offset: -16
y_offset: 11.5
tap_threshold:800
#samples: 4

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[temperature_sensor btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26

[bed_mesh]
horizontal_move_z: 2
speed: 200
# For the mesh dimensions below, the coordinates need to be reachable by the center of the probe. To calculate coordinates that will work, use the formula below:
# mesh x min = position_min_x + greater_of (15mm or x_offset) <--- in this term, only consider the x offset if it is positive, ignore if negative.
# mesh y min = position_min_y + greater_of (15mm or y_offset) <--- in this term, only consider the y offset if it is positive, ignore if negative.
# mesh x max = position_max_x - greater_of (15mm or |x_offset|) <--- in this term, only consider the x offset if it is negative, ignore if positive.
# mesh y max = position_max_y - greater_of (15mm or |y_offset|) <--- in this term, only consider the y offset if it is negative, ignore if positive.
# Example: Consider that you have a 300 x 300 bed with the max x and y positions being 300 and the min being 0. Your probe offsets are -20 for X and 10 for Y
# For mesh x min we ignore the x offset term because it is negative. Therefore mesh x min = 15
# For mesh y min we do not ignore the y offset term because it is positive but it is less than 15 so we use 15. Therefore mesh y min = 15
# For mesh x max we do not ignore the x offset term because it is negative. It is also greater than 15. Therefore mesh x max = 280
# For mesh y max we ignore the y offset term because it is positive but it is less than 15 so we use 15. Therefore mesh y max = 285
# The final result would be mesh_min: 15, 15 mesh_max: 280, 285
mesh_min: 15, 15  # modify these according to the above guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
mesh_max: 334, 335 # modify these according to the above guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
probe_count: 9, 9
algorithm: bicubic
#scan_overshoot: 8  #uncomment this section if you still have room left over on the X axis for some scan overshoot to product smoother movements and more accurate scanning. Uncommenting this should be fine if you are using a standard voron mount.
adaptive_margin: 5
bicubic_tension: 0.5

# Uncomment this if you are using Eddy as the probe AND the homing endstop
#[safe_z_home]
#home_xy_position: 175, 175 # Choose an X,Y position that is in the center of your bed. For a 300x300 machine that will be 150, 150. Use the same principle to calculate your bed center.
#z_hop: 10
#z_hop_speed: 25
#speed: 200

# Uncomment this if you are using Eddy as the probe AND the homing endstop
[force_move]
enable_force_move: True # Allows a user to move the z axis down if they have no other means of homing Z and need to calibrate the Eddy.

#This macro is optional but useful if you want to run a rapid scan before each print. Simply uncomment it and add BED_MESH_SCAN to your print start code.
[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BTT_BED_MESH_CALIBRATE
gcode:
  {% set method = params.METHOD|default("rapid_scan") %}
  {% set other_params = [] %}
    {% for key, value in params.items() %}
        {% if key != "METHOD" %}
            {% set _ = other_params.append(key ~ "=" ~ value) %}
        {% endif %}
    {% endfor %}
  STATUS_MESHING
  BTT_BED_MESH_CALIBRATE METHOD={method} {other_params|join(" ")}
  STATUS_READY

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 2.049
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 64.2
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 52.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.396893, 0.347674, 0.257382, 0.209246, 0.178357, 0.154457, 0.171024, 0.254443, 0.398265
#*# 	  0.399366, 0.339216, 0.269095, 0.212244, 0.176832, 0.148289, 0.200809, 0.300135, 0.411135
#*# 	  0.426091, 0.378958, 0.278428, 0.207742, 0.155392, 0.151074, 0.203232, 0.325032, 0.472165
#*# 	  0.496649, 0.394144, 0.281331, 0.204736, 0.160004, 0.142103, 0.221222, 0.351886, 0.510732
#*# 	  0.561049, 0.430147, 0.303012, 0.207742, 0.156933, 0.161538, 0.238795, 0.385875, 0.600722
#*# 	  0.522393, 0.381996, 0.241754, 0.151377, 0.106787, 0.100793, 0.185687, 0.327873, 0.534760
#*# 	  0.444161, 0.320185, 0.195665, 0.108050, 0.067692, 0.067692, 0.125892, 0.281334, 0.497958
#*# 	  0.398267, 0.250027, 0.134621, 0.039591, 0.000986, 0.005609, 0.074086, 0.216737, 0.423380
#*# 	  0.369789, 0.181399, 0.038643, -0.043374, -0.061340, -0.071527, -0.002317, 0.136189, 0.390012
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.5
#*# min_x = 15.0
#*# max_x = 333.96
#*# min_y = 15.0
#*# max_y = 335.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.985
#*# pid_ki = 6.910
#*# pid_kd = 28.335
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 67.262
#*# pid_ki = 0.859
#*# pid_kd = 1316.650
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 15
#*# calibration_version = 5
#*# reg_drive_current = 15
#*# tap_drive_current = 15
#*# calibration_15 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUKvz9EqYjfU/tL9H/q85/T9sf2qfYKfpPywA8FLAkOE/gn8UPB5Ctz/duF1cI3vTv8Fj+dIy98w/PdHRZ/u65D+bszA+lsGeP+dKqUdSSsy/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQ4e7N7bYRlT7ZG+H0pGWVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQGjbpAmvGGkAMxKfan2cJQHuDAlRYt/s/MLevlQL2/T8uDN+OXfnePyVrkDB1CAPAh8AUDV0y3j/zFHR4fy4OQEvhdlpF6dY/tzd1Yo1l87+UdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEDs58CnmYpU+FeyPRLF1lT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1AuL3tFIVCVPvm3PyhpLCE+jA7re7mUEb6EU1RX6ev2Pbz2RQPLDPm9sh846T19AT4VWhfWFT/3PdimFybuJwq+zCY8L8SQ4r0C1vQLloX4PZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQMKu8Xr75Uj+maWpn4/MTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/Uvm+XryrMEdALf8SicSru2WMB2ZfcmFuZ2WUXZQoR0FH2893n4AAR0FITQZYUoAAZYwCZGOUSw91Lg==
